.header {
    grid-area: h;
    background-color: #0e52b1;
}

.header img {
    width: 50px;
}

.loginBlock {
    float: right;
    text-decoration-color: #27a9e0;
    color: #1676fe;
}

.loginBlock a {
    color: #27a9e0;

}

.loginBlock a:hover {
    color: #fda101;

}
