.nav {
    grid-area: n;
    background-color: #27a9e0;
    padding: 20px;
    font-family: 'Lato', sans-serif;
    line-height: 20px;
    color: #6d6e71;
    font-size: 15px;
}

.item a {
    color: white;
    text-decoration: none;
}

.item a.activeLink {
    color: #0ff1fe;
    font-size: large;
}
